<!-- Element to show different tabs on user dashboard -->

<nav class="dashboard-nav">
  <a
    class="cta-btn <%= selectedTab === 'published' ? 'selected' : ''%>"
    href="/user/published"
    >Published</a
  >
  <a
    class="cta-btn <%= selectedTab === 'saved' ? 'selected' : ''%>"
    href="/user/saved"
    >Saved</a
  >
  <a
    class="cta-btn <%= selectedTab === 'solved' ? 'selected' : ''%>"
    href="/user/solved"
    >Solved</a
  >
</nav>
