<div class="side-bar">
  <header>
    <div>
      <div class="site-name">Haiku Hunt</div>
      <p>A poetic search for landmarks in NYC</p>
    </div>
    <nav>
      <form action="/search" method="GET">
        <label for="name">Find a landmark</label>
        <input type="text" name="name" />
        <button type="submit" aria-label="search">&gt;</button>
      </form>
      <div>
        <p>By borough</p>
        <ul>
          <% options.forEach(option => { %>
          <a href="/<%= option.borough %>"><li><%= option.borough %></li></a>
          <% }); %>
        </ul>
      </div>
      <a href="/">See all landmarks</a>
    </nav>
  </header>
  <footer>
    <a href="/about">About this project</a>
  </footer>
</div>
