<!-- Top nav element for user-specific actions -->

<% if (currentUser) { %>
<div class="top-nav">
  <a href="/sign-out">Sign out</a>
  <a class="account-btn" href="/user"
    ><img class="icon" src="/icons/user-color.png" alt="Your account"
  /></a>
</div>
<% } else { %>
<div class="top-nav">
  <a href="/sign-in">Sign in</a>
  <a href="/sign-up" class="cta-btn">Register</a>
</div>
<% } %>