<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/sidebar.ejs") %>
    <main>
      <h1>About This Project</h1>
      <div class="about">
        <div class="creators-note">
          <h2>Creator's Note</h2>
          <p>
            Haiku Hunt is a personal project by
            <a href="https://github.com/denaliazhi">Denalia Zhi</a>.
          </p>
        </div>
        <div class="faq">
          <h2>FAQ</h2>
          <ul>
            <li>
              <h3>What's a haiku?</h3>
              <p>
                Traditionally, a haiku is a Japanese poem of 3 lines with 5, 7,
                and 5 syllables respectively. In Haiku Hunt, the term refers
                more liberally to any clue that follows the 5-7-5 syllable
                pattern. Whether a clue has any poetic value is subjective.
              </p>
            </li>
            <li>
              <h3>How do I play?</h3>
              <p>
                Haiku Hunt is a free-style adventure. Narrow down your hunt
                using the search/filter bar (or if you're feeling ambitious, go
                for all landmarks across all boroughs). Read a clue card and
                guess the name of the landmark. Click on the card to reveal the
                answer.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
