<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fifty Fountains</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <%- include("./partials/sidebar.ejs"); %>
    <main>
      <div class="page-header">
        <h1><%= title %></h1>
      </div>
      <div class="card-details"><%= entry.name %></div>
    </main>
  </body>
</html>
